.app-add-form {
  margin-top: 20px;
  padding: 25px;
  background-color: #3d5a80;
  border-radius: 10px;
  box-shadow: 15px 15px 30px rgba(0,0,0, .15);
  color: #fff;
  & h3 {
    font-size: 22px;
    margin-bottom: 13px;
  }
}

.add-form {
  & input {
    width: 350px;
    margin-right: 20px;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .app-add-form {
    margin: 3%;
    & .add-form {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      & input {
        width: 100%;
        margin: 0 auto;
        &:nth-child(2) {
          margin: 10px 0;
        }
      }
    }
  }
}

@media (min-width: 481px) and (max-width: 1000px) {
  .app-add-form {
    margin: 3%;
    & .add-form {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      & input {
        font-size: 14px;
        max-width: 32%
      }
    }
  }
}
